html,body{
    height : 100%;
    /* width : 100%; */
}
body{
    margin: 15px 30px;
    padding : 8px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    
}
h1{
    text-align: center;
}
input[type="text"]{
    padding : 3px;
    border : 1px solid #ccc;
    border-radius: 5px;
}
.line1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line3{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

